@page "/contacts"

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Наш адрес</h1>
                <p>Улица Святого Петра дом 2, телефон для связи +79869843214</p>
            </div>
        </div>
    </div>
</section>